$primary-color: #6721a6;
$second-color: #ff6400;
$link-color: #1890ff; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$text-color: #333; // major text color
