@mixin mediaQueryMin($screen) {
    @media screen and (min-width: $screen) {
        @content;
    }
}

@mixin mediaQueryMax($screen) {
    @media screen and (max-width: $screen - 1) {
        @content;
    }
}

@mixin s-mobile() {
    @media screen and (max-width: $screenSM - 1) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: $screenMD - 1) {
        @content;
    }
}

@mixin ipad() {
    @media screen and (max-width: $screenLG - 1) {
        @content;
    }
}

@mixin headerItemAnimation() {
    @keyframes scaleAnimation {
        from {
            transform: scale(.5) translateX(50%);
        }
        to {
            transform: scale(1) translateX(50%);
        }
    }
}

@mixin expandAnimation() {
    @keyframes expandAnimation {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}