#main {
  flex: 1 1 auto;
  // min-height: 70vh;
}

.home {
  min-height: 40vh;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //text-align: center;
  padding-bottom: 80px;
  padding-top: 40px;
}