@include headerItemAnimation;
.header {
    box-shadow: 0 0 19px 0 #0000001a;
    padding: 0 30px;
    display: flex;
    height: 70px;
    background-color: $primary-color;

    .logo-header {
        display: flex;
        align-items: center;
    }

    .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            display: flex;
            align-items: center;
            margin: 0;
            height: 100%;

            li {
                padding: 0 10px;
                list-style-type: none;
                height: 100%;
                display: flex;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-size: 15px;
                    color: white;
                    padding: 0 15px;
                    text-decoration: none;
                    height: 100%;

                    span {
                        display: block;
                    }
                }

                &.active a {
                    color: white;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 3px;
                        background: $second-color;
                        border-radius: 2px;
                        left: -50%;
                        transform: translateX(50%);
                        bottom: 0;
                        position: absolute;
                        animation: headerItemAnimation .3s linear;
                    }
                }
            }

            li:last-child {
                margin-left: 30px;
            }
        }
    }

    &__logout {
        fill: white;
        width: 22px;
        height: 22px;
        cursor: pointer;

        &:hover {
            fill: $second-color;
            transform: scale(1.1);
        }
    }
}

.btn-menu-burger {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34px;
    position: relative;
    display: flex;
    margin-right: 30px;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}
